body{
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    background-color: #ffffff;
    padding: 16px 32px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: 800;
    font-size: 3rem;
}

h3{
    font-family: 'Space Mono', monospace;
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0px;
}

/* .conferencetable {
    align-items: left;
} */


.table-striped tbody tr{
    background-color: transparent !important;
}

.table-striped tbody tr:hover {
    background-color: rgba(141, 141, 141, 0.082);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.navTop {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

.navTopPageLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navLink{
    margin-left: 2rem;

}

#mySearchInput{
    margin-left: 2rem;
    padding: 8px 12px;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
}

@media (max-width: 768px) {
    h1{
        font-size: 2rem;

    }
    .navTop {
        display: flex;
        flex-direction: column;
        /* padding: 24px 0px; */
    }
    .navTopPageLinks{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .navLink{
        display:none;
    }

    #mySearchInput{
        width: 100%;
        margin: 16px 0;
    }
}


#mySearchInput:focus{
    border: #0000000c;
    background-color: rgb(247, 249, 255);
}
.table-bordered th, .table-bordered td{
    border:none;
}

tbody>tr:hover{
    background-image: linear-gradient( 135deg, rgb(28, 185, 164) 10%, #736EFE 100%);
    color: white;
    border-radius: 8px;
}

tbody>tr:hover a{
    color: white;
}

.table-bordered{
    border: none !important;
}

thead{
    border: none !important;
}