html{
    width: 100%;
    display:block;
}
body{
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #333435;
    padding: 16px 32px;

}

h1 {
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Space Mono', monospace;
    text-align: left;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: -2px;
}

h3{
    font-family: 'Space Mono', monospace;
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #333435;
}

a:hover{
    border-bottom:2px solid #333435;
}

/* .conferencetable {
    align-items: left;
} */

/* 
table{
    overflow-x: auto;
    white-space: nowrap;
} */

.table-striped tbody tr{
    background-color: transparent !important;
}

.table-striped tbody tr:hover {
    background-color: rgba(141, 141, 141, 0.082);
}



#circle{
    color: #00fff0;
}

a:hover{
    text-decoration: none;
    color: #333435;
}

.navTop {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}


.navTopPageLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.navLink{
    margin-left: 2rem;

}

#mySearchInput{
    margin-left: 2rem;
    padding: 8px 12px;
    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
}

#mySearchInput:focus{
    /* border: #0000000c; */
    background-color: rgb(247, 249, 255);
}
.table-bordered th, .table-bordered td{
    border:none;
}

/* 
tbody>tr:hover{
    background-color: #00fff0 !important;
    border-radius: 32px;
} */

a{
    color: #333435;
}

.table-bordered{
    border: none !important;
}

thead{
    border: none !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 1rem !important;
}

th{
    padding:  16px 32px 16px 0 !important;
}
td{
    padding:  24px 32px 24px 0 !important;
}

@media (max-width: 768px) {
    body{
        padding: 8px 16px;
        font-size: 1rem;
    }
    th td{
        padding: 16px 24px 16px 0 !important;
    }
    h1{
        font-size: 2rem;

    }
    .navTop {
        display: flex;
        flex-direction: column;
        padding:8px 0px;
    }
    .navTopPageLinks{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .navLink{
        display:none;
    }

    #mySearchInput{
        width: 100%;
        margin: 16px 0;
    }
}


